ctload;
drvd, 0.35, 180, 2.5;
ctjwlc;
RED: ctjwll;
BLUE: ctjwlr;
ctjwlc;
drvd, 0.6, 0, 0.3;
ctload;
gyrolg;
drvd, 0.6, 268, 24.2;
turn, 270;
intkl;
drvt, 0.55, 180, 1.2;
R: drvd, 0.5, 0, 31;
C: drvd, 0.5, 0, 23;
L: drvd, 0.5, 0, 15;
turn, 270;
drvd, 0.6, 270, 3;
intko;
gyrolg;
wait, 1.2;
intks;
gyrolg;
drvd, 0.5, 90, 2;
gyrolg;
intko;
wait, 0.5;
intks;
end;