intkl;
jwlarmd;
jwlarmc;
wait, 1.5;
RED:jwlarmr;
BLUE:jwlarml;
wait, 1.0;
jwlarmu;
turn, 30;
intki;
drvd, 0.75, 45, 30;
drvd, 0.75, 135, 10;
turn, 0.0;
intko;
wait(0.1);
intki;
ctlow;
intks;
R:drvd, 0.5, 270, 2;
drvd, 0.5, 180, 18;
end;