ctload;
intkl;
ctlow;
ctjwlc;
drv, 0.5, 180, 9.0;
RED: ctjwll;
BLUE: ctjwlr;
drvd, 0.5, 0, 4;
ctload;
drvd, 0.5, 90, 6.0;
turn, 180;
drvultra, 0.5, 90, 0, 15;
RIGHT: drvd, 0.5, 90, 3.0;
CENTER: drvd, 0.5, 90, 9.0;
LEFT: drvd, 0.5, 90, 15.0;
intko;
wait, 3;
intks;
end;