ctload;
drvd, 0.35, 180, 1.7;
drvd, 0.4, 270, 0.25;
gyrolg;
drvt, 0.28, 0, 0.6;
ctjwlc;
RED: ctjwlr;
BLUE: ctjwll;
ctjwlc;
ctload;
drvd, 0.6, 80, 24;
drvd, 0.6, 0, 1;
turn, 90;
drvt, 0.55, 180, 1;
intkl;
R: drvd, 0.5, 0, 15;
C: drvd, 0.5, 0, 23;
L: drvd, 0.5, 0, 31;
turn, 90;
drvd, 0.6, 90, 2;
gyrolg;
intko;
wait, 1;
intks;
gyrolg;
drvd, 0.5, 270, 2;
gyrolg;
intks;
wait 0.3;
intks;
end;