intkl;
ctload;
jwlarmd;
jwlarmc;
wait, 0.5;
RED:jwlarmr;
BLUE:jwlarml;
wait,0.25;
jwlarmu;
drvd, 1.0, 330, 25;
drvstopintake, 0.75, 330, 15;
drvd, 1.0, 180, 3;
turn, 270;
drvd, 1.0, 90, 42;
intki;
wait, 0.4;
turn, 270;
intks;
R:drvleftultra, 0.5, 17;
C:drvleftultra, 0.5, 23;
L:drvleftultra, 0.5, 29;
ctlow;
drvt, 0.5, 90, 1;
ctout;
wait, 1;
drvd, 1, 270, 3;
end;