ctload;
drvd, 0.35, 180, 1.75;
BLUE: drvd, 0.45, 270, 1.5;
ctjwlc;
RED: ctjwlr;
BLUE: ctjwll;
ctjwlc;
ctload;
gyrolg;
drvt, 0.28, 0, 0.6;
RED: drvd, 0.6, 85, 25;
BLUE: drvd, 0.6, 85, 26.5;
turn, 90;
intkl;
drvt, 0.55, 180, 1;
R: drvd, 0.5, 0, 15;
C: drvd, 0.5, 0, 23;
L: drvd, 0.5, 0, 31;
turn, 90;
drvd, 0.6, 90, 2;
gyrolg;
intko;
wait, 1;
intks;
gyrolg;
drvd, 0.5, 270, 2;
gyrolg;
intks;
wait 0.1;
intks;
end;